---
import Button from "@/components/ui/Button.astro";
import Grid from "@/components/ui/Grid.astro";
import Heading from "@/components/ui/Heading.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Detikcom Project."
  description="Welcome to Detikcom Project!">
  <Grid className="mb-8" sidebarClassName="gap-4">
    <Heading size="h3" tagType="h2">Test heading</Heading>
    <div class="flex items-end gap-2">
      <Button as="a" href="#" variant={"default"} size={"xs"}>
        xs Default
      </Button>
      <Button as="button" type="button" variant={"dark"} size={"sm"}>
        sm Dark
      </Button>
    </div>
  </Grid>
</MainLayout>
