---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
	<div class="p-10 grid gap-4">
		<h1
			class="card max-w-sm animate-spin animate-duration-1000 animate-once">
			Hello World
		</h1>
		<span class="btn max-w-sm">This is first page</span>
	</div>
</MainLayout>
