<header
  id="header"
  class="bg-white z-10 flex px-4 items-center pt-5 gap-2 h-auto max-w-6xl mx-auto justify-between pb-5 w-full">
  <a href="#" class="w-64">
    <img
      src="https://akcdn.detik.net.id/community/media/visual/2019/06/28/a934c205-c4f9-40ff-b51a-c66439cf8aa1.png?d=1"
      alt=""
    />
  </a>
  <div class="isolate block">
    <a href="#">
      <img
        src="http://online.detik.com/design/detik/assets/images/ads/grey-leaderboard.png"
        alt=""
      />
    </a>
  </div>
</header>
