---
import { cn } from "@/lib/utils";
interface Props {
  className?: string;
  sidebarClassName?: string;
  mainClassName?: string;
}
const { className, sidebarClassName, mainClassName } = Astro.props;
---

<div class={cn("grid grid-cols-12 gap-6", className)}>
  <div class={cn("grid px-0 col-span-8 content-start", mainClassName)}>
    <slot />
  </div>
  <div class={cn("grid px-0 col-span-4 content-start gap-6", sidebarClassName)}>
    <slot name="sidebar" />
  </div>
</div>
